# django
*.pyc
*.pyo
*.egg-info
__pycache__
dist/
docs/
*.tar

# markdown
*.md

# temp
tmp/

db_data/
logs/
model/
model_data/

# IDE
.vscode
.idea

# creator
.dump/
backups/
.chglog/
fixtures/
#media/
static/
*.gz
*.psql

# .dockerignore only
.gitignore
.git/
docker-compose*.yml
Dockerfile
!logs/django/.gitkeep